<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>vapor-hello-world.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
